<!DOCTYPE html>
<html>
  <head>
    <title>Napflix - Watch Movies Online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta property="og:title" content="Napflix" />
     <meta property='og:image' content="<%= image_url('readme/napflix_browse_top.png') %>"/>
     <meta property="og:description"
       content="Napflix is a clone of Netflix built with Ruby on Rails and React/Redux."
     />
     <meta property="og:url"
       content="http://napflix.herokuapp.com/"
     />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script type="text/javascript">
      window.backgroundURL = "<%=image_url('netflix_bg.jpg')%>";
      window.logoURL = "<%=image_url('napflix_logo.png')%>";
      window.avatar = "<%=image_url('profile_avatar.png')%>";
      window.addProfile = "<%=image_url('add_profile.png')%>";
      window.editPencil = "<%=image_url('edit_pencil.png')%>";
      window.searchIcon = "<%=image_url('search.png')%>";
      window.volumeOff = "<%=image_url('volume_off.png')%>"
      window.volumeOn = "<%=image_url('volume_on.png')%>"
      window.eternal = "<%=image_url('eternal.png')%>"
    </script>
   
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
