<!DOCTYPE html>
<html>
  <head>
    <title>Napflix - Watch Movies Online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.backgroundURL = "<%=image_url('netflix_bg.jpg')%>";
      window.logoURL = "<%=image_url('napflix_logo.png')%>";
      window.avatar = "<%=image_url('profile_avatar.png')%>";
      window.addProfile = "<%=image_url('add_profile.png')%>";
      window.editPencil = "<%=image_url('edit_pencil.png')%>";
    </script>
   
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
